
#backdrop{
    background-color: black;
    width:100%;
    height:100%;
    position:absolute;

}

#greet{
    width:50%;
    height:50%;
    position:absolute;
    vertical-align: middle;
    border-style: none;
    top: 25%;
    right: 25%;
}
    
#grt_caption {
	color: #7fc318;
	font-size: 14px;
	position: absolute;
	top: 15%;
	right: 39%;
}