div.bag_container {
	width: 450px;
	height: 236px;
	position: fixed;
	left: 25%;
	z-index: 6;
	display: inline-block;
	box-shadow: 0px 8px 141px 203px rgba(156, 161, 86, 0.88);
	background-color: rgb(239, 248, 113);
	/* background-color: rgb(51, 0, 17); */
	padding-bottom: -10px;
	border-radius: 4px;
	border-style: inset;

}

ul li{

    list-style: none;
    color:black;
	font-weight: 200;
	font-family: 'Playfair Display SC', serif;
	font-size:16px;
	cursor:context-menu;
	
}

#p_inside_bag {
	font-size: 14px;
	display: inline-block;
	position: relative;
	font-family: 'Playfair Display SC', serif;
	top: 16px;
	margin-bottom: 39px;
	font-weight: bolder;
	cursor:context-menu;
}

.tag_buttons {
	height: 45px;
	position: absolute;
	left:82%;
}

#tag_button_back{bottom: 164px;}

#tag_button_cancel{bottom: 93px; }

#tag_button_proceed{bottom:18px; }

#tag_button_back,#tag_button_cancel,#tag_button_proceed{cursor:pointer;}


@media only screen and (max-width: 648px) {
	
div.bag_container{
	width: 250px;
	height: 350px;
}


.tag_buttons {
	height: 35px;
	position: absolute;
	display:inline;
	top:75%;
}

#tag_button_back{left:5%;}


#tag_button_proceed{left:45%;}

#p_inside_bag {
	font-size: 12px;
	text-align:center;
}

	}

